.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.headerline {
    display: flex;
    gap: 100px;
}

.headerline ul {
    display: flex;
    list-style: none;
    margin: 0px;
    gap: 15px;
}

.headerline a {
    text-decoration: none;
}

.headerline p {
    margin: 0px;
}

.headerleft {
    display: flex;
    flex-direction: column;
}